$vertical-whitespace: 10px;
$horizontal-whitespace: 20px;

h1, h2, h3, h4, .header, .post-updated {
    font-family: 'Bitter', serif;
}

img {
    max-width: 100%;
}

code {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 2px 6px;
    font-size: 14px;
}

.container {
    margin: 0 auto;
    padding: 0 $horizontal-whitespace;
    max-width: 800px;
}

.header {
    display: block;
    padding: $vertical-whitespace * 2 0;
}

.post-list {
    list-style: none;
    padding-left: 0;
    li {
        border-bottom: solid 1px #e0e0e0;
        &:last-child {
            border-bottom: none;
        }
    }
    a {
        display: block;
        padding: $vertical-whitespace 0;    
    }
}

.post-updated {
    font-weight: bold;
    margin-bottom: 0;
}

.codehilite {
    border-radius: 4px;
    margin-bottom: $vertical-whitespace;
    pre {
        margin-bottom: 0;
        padding: $vertical-whitespace $horizontal-whitespace;
    }
}

.credit {
    padding-top: $vertical-whitespace * 2;
    font-size: 11px;
}