.container {
  max-width: 800px;
  padding-top: 30px; }

.row:before, .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.row:after {
  clear: both; }

img {
  max-width: 100%; }

.post-body img {
  border: solid 1px #e0e0e0; }

.post-updated {
  color: #969696; }

.meta-column {
  text-align: right; }

.publish-note {
  font-size: 0.9em;
  font-style: italic; }

#logo {
  display: block; }

#header {
  padding-bottom: 20px; }

#footer {
  padding-top: 10px; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    background-color: #428bca;
    color: #ffffff; }

h1 {
  margin: 0;
  font-size: 1em;
  line-height: 1.7em; }

p {
  margin: 1em 0 0 0;
  line-height: 1.7em; }
  p code {
    font-size: 1em;
    color: inherit; }

ul {
  list-style-type: square; }

li {
  line-height: 1.7em; }

pre, code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }

pre {
  margin: 1.5em 0 0 0;
  display: block;
  padding: 9.5px;
  font-size: 13px;
  line-height: 1.428571429;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: auto;
  white-space: pre; }

code {
  padding: 2px 4px;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px; }

h1, p.post-updated {
  margin: 2em 0 0 0; }

h2 {
  font-size: 1em;
  line-height: 1.7em;
  margin: 1.5em 0 0 0; }

#strapline {
  margin: 0;
  line-height: 43px; }
  #strapline a {
    font-size: 0.75em;
    color: #000000; }
    #strapline a:hover {
      background: none;
      color: #000000; }

a#logo:hover {
  background: none;
  color: #000000; }

#comments {
  margin-top: 2em; }

#credit {
  margin-top: 3em;
  margin-bottom: 5em;
  font-size: 0.75em; }
  #credit a {
    color: #000000; }
    #credit a:hover {
      background: none;
      color: #000000; }

@media (min-width: 768px) {
  #nav-button {
    display: none; }

  #nav {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 43px; }
    #nav li {
      display: inline;
      line-height: 43px;
      border-right: solid 1px #e0e0e0;
      padding: 0 8px 0 4px;
      font-size: 0.75em;
      font-weight: bold; }
      #nav li:last-child {
        border: none; } }
@media (max-width: 767px) {
  #nav-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border-bottom: 17px double black;
    border-top: 6px solid black;
    content: "";
    height: 28px;
    width: 30px; }

  #nav {
    display: none;
    position: absolute;
    width: 138px;
    top: -50px;
    right: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
    border: 2px solid #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    #nav:after, #nav:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    #nav:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #ffffff;
      border-width: 10px;
      right: 3px; }
    #nav:before {
      border-color: transparent;
      border-bottom-color: #000000;
      border-width: 13px;
      right: 0px; }
    #nav a {
      display: block; }
      #nav a span {
        display: block;
        padding: 5px 15px; }

  .container {
    padding-top: 20px; }

  .meta-column {
    text-align: left; }

  h1 {
    margin-top: 0; }

  #header {
    padding-bottom: 0; } }
