[Site]
hostname: HOSTNAME
cdn1: CDN1
cdn2: CDN2
analytics_id: ANALYTICS_ID
disqus_id: DISQUS_ID
asset_version: 2
[Debug]
minify: True
use_concatenated: True
[FTP]
secure: True
hostname: HOSTNAME
username: USERNAME
password: PASSWORD
remotepath: REMOTEPATH