[Site]
site_name: Mark Ashley Bell
site_url: http://localhost:8000
cdn1: http://localhost:8000
cdn2: http://localhost:8000
analytics_id: ANALYTICS_ID
disqus_id: DISQUS_ID
rss_description: The latest programming and web development articles from markb.co.uk