<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <link href="@Url.Content("~/Content/Site.less")" rel="stylesheet/less" type="text/css" />

        <script type="text/javascript" src="@Url.Content("~/Scripts/less-1.1.3.min.js")"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
