@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="full-width">

    <h1>Page Not Found</h1>

    <p>Sorry, but the page you requested has been moved or deleted.</p>

</div>