@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Main.cshtml";
}

@section content {

    <h1>About Me</h1>

    <span class="author">A blog by Mark Bell</span>

    <p>Hi! My name's Mark, I'm a web developer based in Devon, England. This is a place for me to share my projects, code snippets and knowledge.</p>

    <p>Please <a href="http://twitter.com/markashleybell">follow me on Twitter</a> for updates.<p>

    <p>@Html.ActionLink("Back to Home Page", "")</p>

}