@{
    ViewBag.Title = "JQuery";
    Layout = "~/Views/Shared/Main.cshtml";
}

@section content {

    <h1>jQuery Plugins</h1>
    <ul>

    <li><a href="/jquery/jquery.caption.html">Captions</a> <span><p>This plugin automatically captions images using the ALT and LONGDESC attributes.</p></span></li>
    <li><a href="/jquery/jquery.nesteddecimallist.html">Nested Decimal List</a> <span><p>This plugin lets you display nested decimal lists of any depth, with correctly numbered sub sections (because support for CSS Counters  is currently very patchy). Users without JavaScript will just see standard ordered lists.</p></span></li>
    <li><a href="/jquery/jquery.externallink.html">External Links</a> <span><p>This plugin automatically creates accessible links to external sites that open in a new window/tab.</p></span></li>
    <li><a href="/jquery/jquery.popmenu.html">PopMenu</a> <span><p>This plugin automatically creates pop-out navigation menus from nested unordered lists of links. It's not the fanciest menu you'll see, but it is fast, easy to understand and easy to customise. It's also extremely lightweight, weighing in at about 1.5kb uncompressed.</p></span></li>
    <li><a href="/jquery/jquery.listselect.html">ListSelect</a> <span><p>This plugin turns an unordered list into a customisable drop-down select box containing the list items as options.</p></span></li>
  
    </ul>
    

}