@model markashleybell.com.Models.ArticleIndexViewModel

@{
    ViewBag.Title = "Article Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>Article Index</h1>

@foreach (var article in Model.Articles)
{
    <h2>@article.Title</h2>
}