@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div id="container">

    <!-- 1 column -->
    <div class="grid-display basic col-1w">30</div>

    <!-- 2 columns -->
    <div class="grid-display basic col-2w clr">15</div>
    <div class="grid-display basic col-2w">15</div>

    <!-- 3 columns -->
    <div class="grid-display basic col-3w clr">10</div>
    <div class="grid-display basic col-3w">10</div>
    <div class="grid-display basic col-3w">10</div>

    <!-- 5 columns -->
    <div class="grid-display basic col-5w clr">6</div>
    <div class="grid-display basic col-5w">6</div>
    <div class="grid-display basic col-5w">6</div>
    <div class="grid-display basic col-5w">6</div>
    <div class="grid-display basic col-5w">6</div>

    <!-- Left feature, 1 column right -->
    <div class="grid-display specific col-5w-span4 clr">24</div>
    <div class="grid-display specific col-5w">6</div>

    <!-- Left nav, 2 column content -->
    <div class="grid-display specific col-5w clr">6</div>
    <div class="grid-display specific col-5w-span2">12</div>
    <div class="grid-display specific col-5w-span2">12</div>

    <!-- Left nav, 3 column content -->
    <div class="grid-display specific col-5w clr">6</div>
    <div class="grid-display specific col-5w-span8">8</div>
    <div class="grid-display specific col-5w-span8">8</div>
    <div class="grid-display specific col-5w-span8">8</div>
            
    <!-- Left nav, 3 column content -->
    <div class="grid-display specific col-5w clr">6</div>
    <div class="grid-display specific col-5w-span4">24</div>
            
    <!-- Left nav, 6 4-col thumbs -->
    <div class="grid-display basic col-5w clr">6</div>
    <div class="grid-display basic col-4w">4</div>
    <div class="grid-display basic col-4w">4</div>
    <div class="grid-display basic col-4w">4</div>
    <div class="grid-display basic col-4w">4</div>
    <div class="grid-display basic col-4w">4</div>
    <div class="grid-display basic col-4w">4</div>
            
    <!-- 10 columns -->
    <div class="grid-display basic col-10w clr">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
    <div class="grid-display basic col-10w">3</div>
            
    <!-- 15 columns -->
    <div class="grid-display basic col-15w clr">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
    <div class="grid-display basic col-15w">2</div>
            
    <!-- 30 columns -->
    <div class="grid-display basic col-30w clr">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>
    <div class="grid-display basic col-30w">1</div>

</div>
