<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Canonical Host Name" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^markb\.co\.uk$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^cdn\d\.markb\.co\.uk$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://markb.co.uk/{R:1}" />
                </rule>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Old Article Redirects" stopProcessing="true">
                    <match url="articles/([^/]+)/?$" />
                    <action type="Redirect" url="{R:1}.html" />
                </rule>
                <rule name="Article Index" stopProcessing="true">
                    <match url="articles/?$" />
                    <action type="Redirect" url="articles.html" />
                </rule>
                <rule name="Redirect Pages From CDN" stopProcessing="true">
                    <match url="(.*\.html)$" />
                    <action type="Redirect" url="https://markb.co.uk/{R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="cdn\d\.markb\.co\.uk" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
