@model List<markashleybell.com.Web.Models.ArticleViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@section content {

    <h1>Articles</h1>

    @Html.ActionLink("Add New", "CreateArticle")

    <ul>

    @foreach(var article in Model) {

        <li>@Html.ActionLink(article.Title, "EditArticle", new { id = article.ArticleID }) <span>@article.Published.ToString("dddd, d MMMM yyyy HH:mm")</span></li>

    }

    </ul>

}