@model markashleybell.com.Models.ArticleIndexViewModel

@{
    ViewBag.Title = "Article Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="full-width">

    <h1>Programming and Web Development Articles</h1>

    <ul class="article-list">

    @foreach (var article in Model.Articles)
    {
        <li>
            <a href="/articles/@article.Slug">@article.Title</a> 
            <span>@Html.Raw(article.Abstract)</span>
        </li>
    }

    </ul>

</div>