@model markashleybell.com.Models.ArticleIndexViewModel

@{
    ViewBag.Title = "Article Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>Article Index</h1>

<ul>

@foreach (var article in Model.Articles)
{
    <li><a href="/articles/@article.Slug">@article.Title</a></li>
}

</ul>