<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Configuration"/>
        <add namespace="markashleybell.com.Web.Models"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <connectionStrings configSource="Db.config"/>
  <appSettings>
    <add key="LocalTestMode" value="false"/>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
  </appSettings>
  <system.web>
      <compilation debug="false" targetFramework="4.0">
        <assemblies>
          <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
          <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </assemblies>
      </compilation>
      <authentication configSource="Auth.config"/>
      <!-- Look in Global.asax for error handling, this is just a switch now -->
      <customErrors mode="On"/>
      <pages>
        <namespaces>
          <add namespace="System.Web.Mvc"/>
          <add namespace="System.Web.Mvc.Ajax"/>
          <add namespace="System.Web.Mvc.Html"/>
          <add namespace="System.Web.Routing"/>
          <add namespace="System.Web.Helpers"/>
          <add namespace="System.Web.WebPages"/>
        </namespaces>
      </pages>
    </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript"/>
    </staticContent>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" dynamicCompressionBeforeCache="false" doDynamicCompression="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
      <rules>
        <clear/>
        <rule name="Enforce Canonical URL" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.markashleybell\.com$"/>
          </conditions>
          <action type="Redirect" url="http://markashleybell.com/{R:1}" redirectType="Permanent"/>
        </rule>
        <rule name="Remove Trailing Slash" stopProcessing="true">
          <match url="(.*)/$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}"/>
        </rule>
        <rule name="JQuery Plural Rewrites" stopProcessing="true">
          <match url="^jquery/jquery\.(.*?)s\.html$"/>
          <conditions logicalGrouping="MatchAll"/>
          <action type="Redirect" url="/jquery/jquery.{R:1}.html" redirectType="Permanent"/>
        </rule>
        <rule name="jQuery ASPX to HTML" stopProcessing="true">
          <match url="^jquery/jquery\.(.*?)\.html$"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/Content/jquery/jquery.{R:1}.aspx"/>
        </rule>
        <rule name="HTML" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*.html"/>
          <conditions logicalGrouping="MatchAll"/>
        </rule>
        <rule name="Robots" stopProcessing="true">
          <match url="robots.txt"/>
          <conditions logicalGrouping="MatchAll"/>
          <action type="Rewrite" url="/robots.txt"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Edition Client Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact Edition Client 4.0" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>
</configuration>