{% extends "master.html" %}
{% block content %}
<p class="post-updated">{{ updated.strftime('%d %b %Y') }}</p>
<h1><a href="{{ permalink }}">{{ title }}</a></h1>
{{ body }}
{% if updated > published %}
<p class="publish-note">Originally published on {{ published.strftime('%d %b %Y') }}; updated on {{ updated.strftime('%d %b %Y') }}</p>
{% endif %}
{% endblock %}
{% block recent_articles %}
<h2>More articles</h2>
<ul class="post-list" role="navigation">
    {% for item in post_list %}
    <li><a href="{{ item['output_filename'] }}">{{ item['title'] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}