@{
    ViewBag.Title = "Server Error";
    Layout = "~/Views/Shared/Main.cshtml";
}

@section content {

    <h1>Server Error</h1>

    <p>An error has occurred on the web server. The site administrator has been notified.</p>

}